* {
  margin: 0;
  padding: 0;
}

/* .background-div {
  width: 100%;
  height: 100%;
  background-image: url("../../components/Images/Background_2.png");
  background-size: cover;
  background-attachment: fixed;
} */

html {
  /* background: url("../../components/Images/Background_2.png") no-repeat center */
  /* fixed; */
  width: 100%;
  background: #3aafa9;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
